<!DOCTYPE html>
<html lang="en">
<body>
  <h2>Welcome, <span style="font-weight: 600;"> <%= locals.name %> </span></h2>
  <p>Thank you for signing up. We're excited to have you on board.</p>
</body>
</html>